.footer {
    background-color: var(--noir);
    color: var(--blanc);
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 5rem 4.5rem 5rem 4.5rem;
}
.footer__icons {
    width: 2.25rem;
    height: 2.25rem;
    margin-left: 3.25rem;
}