
.redBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--red-highlight);
    color: var(--white);
    padding: 3.75rem 0 3.75rem 0;
}
.redBanner__title {
    font-weight: bold;
    margin: 0 0 1rem 0;
}